/**********************/
/*      HEADER        */
/**********************/

header nav{
	position: absolute;
	top: 20px;
	right: 0px;
	width: 250px;
}

header nav img{
	cursor: pointer;
	padding-bottom: 5px;
}

header .modal-body img{
	height: 80px;
}

header .modal-body li{
	margin-left: 10px;
}

.fullScreen{
	margin: 0;
	display: inline-block;
	height: 25px;
	width: 29px;
	cursor: pointer;
	padding: 6px;
	border-radius: 0px 5px 5px 0px;
	background-color:rgba(250, 250, 250, 0.95);
	top: 105px;
	left: 0px;
}

#helperApplication .modal-dialog{
	width: 90%;
}

#alertBrowser{
	display: inline-block;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 100%;
	z-index: 10000000;
}

.teamPicture{
	display: inline-block;
	width: 120px;
	vertical-align: top;
}

.teamPicture span{
	display: inline-block;
	width: 120px;
	height: 120px;
	background: url("/Images/NooLibTeam/spritesheet.jpg") no-repeat;
}

.teamPicture:first-child span{
	background-position: 0px 0px;
}

.teamPicture:nth-child(2) span{
	border: 1px red solid;
	background: url("/Images/NooLibTeam/spritesheet.jpg") no-repeat;
	background-position: 120px 0px;
}

.teamPicture:nth-child(3) span{
	background-position: 240px 0px;
}

.teamPicture:nth-child(4) span{
	background-position: 0px 120px;
}

.teamPicture:nth-child(5) span{
	background-position: 120px 120px;
}

.teamPicture:nth-child(6) span{
	background-position: 240px 120px;
}

.teamPicture:nth-child(7) span{
	background-position: 0px 240px;
}

.teamPicture:nth-child(8) span{
	background-position: 120px 240px;
}

.teamPicture:nth-child(9) span{
	background-position: 240px 240px;
}
