/************************/
/*    Public Library    */
/************************/

.applicationView img{
	width: 64px;
}

.noA{
	color: black;
}

.noA:hover{
	color:black;
}

table {
    table-layout: fixed;
    word-wrap: break-word;
}

/* Pour créer une marge sur les boutons */
.btn-margin{
  margin-left: 4px;
}

/* Pour l'affichage de la page de l'application */

.informationApplication img, .informationApplication h3{
	display: inline-block;
}

.informationApplication h3{
	margin-left: 20px;
}

#moreInformationApplication{
	cursor: pointer;
}