/************************/
/*   Arbre Application  */
/************************/

#modifierAuteursApplication img{
	width: 60px;
}

#modifierAuteursApplication .auteur{
	margin: 15px;
	padding: 5px;
	box-shadow: 2px 2px 10px grey;
}