/*********************************/
/* Feuille de style pour Log In  */
/*********************************/

/* Général */

@font-face {
   font-family: 'ComicNeue-Angular-Regular';
   src: url('../fonts/ComicNeue-Angular-Regular.otf');
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

html, body{
	width: 100%;
	height: 100%;
}

body{
	background: url("/Images/MarketingBackground/background_0.jpg");
  background-size: cover;
  background-attachment: fixed;
	margin: auto;
	font-family: "ComicNeue-Angular-Regular";
}


header{
	height: 20%;
}

section{
	height: 74%;
}

footer{
	height: 4%;
}

footer a{
	color: black;
}

footer a:hover{
	color: black;
}

#contact h2{
	color: black;
}


/* Pour réaliser un fadeIn sur les éléments */

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn{
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:0.7s;
  -moz-animation-duration:0.7s;
animation-duration:0.7s;
} 


/* Pour JS */
.alertJS{
    position: relative;
    z-index: 1000;
}

/* Pour le pré-chargement des pages */
.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(0,0,0,0.6);
}

.globalLoader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid grey; /* Blue */
    border-bottom: 4px solid grey;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: fixed;
    top: 50%;
    left: 47%;
    z-index: 999;
    -webkit-animation: spinGlobalLoader 2s linear infinite;
    animation: spinGlobalLoader 2s linear infinite;
}

@-webkit-keyframes spinGlobalLoader {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spinGlobalLoader {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* Pour la taille maximale de certains containers */
.maxWidth{
  max-width: 960px;
}

/* Pour le centrage verticale des éléments */
.container-fluid{
  height:100%;
  display:table;
  width: 100%;
  padding: 0;
}
 
.row-fluid {
  height: 100%; 
  display:table-cell; 
  vertical-align: middle;
}

.centering {
  float:none;
  margin:0 auto;
}

/* Pour les boîtes de dialogue vers le client */
.informationsClient{
	display: none;
	position: fixed;
	width: 400px;
	top: 10px;
	right: 10px;
	z-index: 99999;
}

/* Pour les titres*/	
h1{
	font-size: 2.8em;
	width: 85%;
	color: white;
	padding: 0;
	margin: 0px 0px 40px 0px;
}

h2{
	font-size: 1.5em;
	width: 73%;
	text-align: justify;
	color: white;
}

h5{
	font-size: 1.1em;
	display: inline-block;
	margin: 0;
	padding: 0;
}

em{
	color: white;
}

/* Pour les formulaires */
.well{
	background-color: rgba(220, 220, 220, 0.6);
	border-radius: 0px;
	border: none;
}

.checkbox label{
	padding: 5px 0px 5px 0px;
}

a{
  cursor: pointer;
}


/* Pour le footer */
footer ul{
	display: inline-block;
	list-style-type: none;
	padding: 0;
}

footer li{
	display: inline-block;
	cursor: pointer;
}

.colFooter{
	display: inline-block;
}

/*********/
/* Team  */
/*********/

.teamTitle{
  color: black;
}

.teamPicture{
  display: inline-block;
  width: 120px;
  vertical-align: top;
}

.teamPicture span{
  display: block;
  width: 120px;
  height: 120px;
  background: url("/Images/NooLibTeam/spritesheet.jpg") no-repeat;
}

/* background-position: (colonne)px (ligne)px; */
/* Léna Buron */
.teamPicture:nth-child(1) span{
  background-position: -120px -240px;
}
/* Corentin Chevallier */
.teamPicture:nth-child(2) span{
  background-position: -120px -120px;
}
/* Quentin Denis */
.teamPicture:nth-child(3) span{
  background-position: 0px -360px;
}
/* Guénaël Dequeker */
.teamPicture:nth-child(4) span{
  background-position: -240px -120px;
}
/* Steve Despres*/
.teamPicture:nth-child(5) span{
  background-position: -240px -360px;
}
/* Rémi Dugue*/
.teamPicture:nth-child(6) span{
  background-position: -120px -360px;
}
/* Antoine Fauchard*/
.teamPicture:nth-child(7) span{
  background-position: 0px 0px;
}
/* Kevin GrosBois*/
.teamPicture:nth-child(8) span{
  background-position: 0px -240px;
}
/* Naoures Hassine */
.teamPicture:nth-child(9) span{
  background-position: -360px -240px;
}
/* Brian Le Bras*/
.teamPicture:nth-child(10) span{
  background-position: -360px 0px;
}
/* Jean Mainguy */
.teamPicture:nth-child(11) span{
  background-position: -360px -120px;
}
/* Baptiste Maudet */
.teamPicture:nth-child(12) span{
  background-position: -120px 0px;
}
/* Yohann Pichois */
.teamPicture:nth-child(13) span{
  background-position: -360px -360px;
}
/* Clément Richard */
.teamPicture:nth-child(14) span{
  background-position: 0px -120px;
}
/* Mathieu */
.founder{
  display: block;
  width: 120px;
  height: 120px;
  background: url("/Images/NooLibTeam/spritesheet.jpg") no-repeat;
  background-position: -240px -240px;
}


/*********************/
/* Bootstrap Switch  */
/*********************/

.bootstrap-switch{display:inline-block;direction:ltr;cursor:pointer;border-radius:4px;border:1px solid;border-color:#ccc;position:relative;text-align:left;overflow:hidden;line-height:8px;z-index:0;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;vertical-align:middle;-webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s}.bootstrap-switch .bootstrap-switch-container{display:inline-block;top:0;border-radius:4px;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.bootstrap-switch .bootstrap-switch-handle-on,.bootstrap-switch .bootstrap-switch-handle-off,.bootstrap-switch .bootstrap-switch-label{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;cursor:pointer;display:inline-block!important;height:100%;padding:6px 12px;font-size:14px;line-height:20px}.bootstrap-switch .bootstrap-switch-handle-on,.bootstrap-switch .bootstrap-switch-handle-off{text-align:center;z-index:1}.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary,.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary{color:#fff;background:#337ab7}.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-info,.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-info{color:#fff;background:#5bc0de}.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-success,.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-success{color:#fff;background:#5cb85c}.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-warning,.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-warning{background:#f0ad4e;color:#fff}.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-danger,.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-danger{color:#fff;background:#d9534f}.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-default,.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default{color:#000;background:#eee}.bootstrap-switch .bootstrap-switch-label{text-align:center;margin-top:-1px;margin-bottom:-1px;z-index:100;color:#333;background:#fff}.bootstrap-switch .bootstrap-switch-handle-on{border-bottom-left-radius:3px;border-top-left-radius:3px}.bootstrap-switch .bootstrap-switch-handle-off{border-bottom-right-radius:3px;border-top-right-radius:3px}.bootstrap-switch input[type='radio'],.bootstrap-switch input[type='checkbox']{position:absolute!important;top:0;left:0;margin:0;z-index:-1;opacity:0;filter:alpha(opacity=0)}.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-on,.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-off,.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-label{padding:1px 5px;font-size:12px;line-height:1.5}.bootstrap-switch.bootstrap-switch-small .bootstrap-switch-handle-on,.bootstrap-switch.bootstrap-switch-small .bootstrap-switch-handle-off,.bootstrap-switch.bootstrap-switch-small .bootstrap-switch-label{padding:5px 10px;font-size:12px;line-height:1.5}.bootstrap-switch.bootstrap-switch-large .bootstrap-switch-handle-on,.bootstrap-switch.bootstrap-switch-large .bootstrap-switch-handle-off,.bootstrap-switch.bootstrap-switch-large .bootstrap-switch-label{padding:6px 16px;font-size:18px;line-height:1.3333333}.bootstrap-switch.bootstrap-switch-disabled,.bootstrap-switch.bootstrap-switch-readonly,.bootstrap-switch.bootstrap-switch-indeterminate{cursor:default!important}.bootstrap-switch.bootstrap-switch-disabled .bootstrap-switch-handle-on,.bootstrap-switch.bootstrap-switch-readonly .bootstrap-switch-handle-on,.bootstrap-switch.bootstrap-switch-indeterminate .bootstrap-switch-handle-on,.bootstrap-switch.bootstrap-switch-disabled .bootstrap-switch-handle-off,.bootstrap-switch.bootstrap-switch-readonly .bootstrap-switch-handle-off,.bootstrap-switch.bootstrap-switch-indeterminate .bootstrap-switch-handle-off,.bootstrap-switch.bootstrap-switch-disabled .bootstrap-switch-label,.bootstrap-switch.bootstrap-switch-readonly .bootstrap-switch-label,.bootstrap-switch.bootstrap-switch-indeterminate .bootstrap-switch-label{opacity:.5;filter:alpha(opacity=50);cursor:default!important}.bootstrap-switch.bootstrap-switch-animate .bootstrap-switch-container{-webkit-transition:margin-left .5s;-o-transition:margin-left .5s;transition:margin-left .5s}.bootstrap-switch.bootstrap-switch-inverse .bootstrap-switch-handle-on{border-bottom-left-radius:0;border-top-left-radius:0;border-bottom-right-radius:3px;border-top-right-radius:3px}.bootstrap-switch.bootstrap-switch-inverse .bootstrap-switch-handle-off{border-bottom-right-radius:0;border-top-right-radius:0;border-bottom-left-radius:3px;border-top-left-radius:3px}.bootstrap-switch.bootstrap-switch-focused{border-color:#66afe9;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,0.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,0.6)}
.bootstrap-switch.bootstrap-switch-on .bootstrap-switch-label,.bootstrap-switch.bootstrap-switch-inverse.bootstrap-switch-off .bootstrap-switch-label{border-bottom-right-radius:3px;border-top-right-radius:3px}.bootstrap-switch.bootstrap-switch-off .bootstrap-switch-label,.bootstrap-switch.bootstrap-switch-inverse.bootstrap-switch-on .bootstrap-switch-label{border-bottom-left-radius:3px;border-top-left-radius:3px}