RewriteEngine on

#Pour rediriger les adresses de www.noolib.com vers https://www.noolib.com
#RewriteCond %{HTTPS} off
#RewriteRule ^(.*)$ https://www.noolib.com/$1 [R=301,L]

#RewriteCond %{HTTP_HOST} ^noolib.com$ [NC]
#RewriteRule ^(.*)$ https://www.noolib.com/$1 [R=301,L]

######################

#Pour éviter l'accès direct aux fichiers racines
rewriteRule ^header front.php [QSA,L]
rewriteRule ^footer front.php [QSA,L]

#Pour rediriger vers l'application AddApplication
rewriteCond %{REQUEST_FILENAME} !-f
rewriteRule ^LogIn/ logIn.php [QSA,L]

#Pour rediriger vers l'application Profile
rewriteCond %{REQUEST_FILENAME} !-f
rewriteRule ^Profile/ profile.php [QSA,L]

#Pour rediriger vers l'application Settings
rewriteCond %{REQUEST_FILENAME} !-f
rewriteRule ^Settings/ settings.php [QSA,L]

#Pour rediriger vers l'application MobileApplication
rewriteCond %{REQUEST_FILENAME} !-f
rewriteRule ^Mobile/ mobile.php [QSA,L]

#Pour rediriger vers l'application PublicLibrary
rewriteCond %{REQUEST_FILENAME} !-f
rewriteRule ^Library/ librairie.php [QSA,L]

#Pour rediriger vers l'application ManagerOfApplications
rewriteCond %{REQUEST_FILENAME} !-f
rewriteRule ^ManagerOfApplications/ managerOfApplications.php [QSA,L]

#Pour rediriger vers l'application SubmitAnApplication
rewriteCond %{REQUEST_FILENAME} !-f
rewriteRule ^SubmitAnApplication/ submitAnApplication.php [QSA,L]

#Pour rediriger vers l'application NooSpace
rewriteCond %{REQUEST_FILENAME} !-f
rewriteRule ^NooSpace/ nooSpace.php [QSA,L]

#Pour rediriger vers l'application HandleApplication
rewriteCond %{REQUEST_FILENAME} !-f
rewriteRule ^HandleApplication/ handleApplication.php [QSA,L]

#Pour rediriger vers l'application HandleData
rewriteCond %{REQUEST_FILENAME} !-f
rewriteRule ^HandleData/ handleData.php [QSA,L]

#Pour rediriger vers l'application Helper
rewriteCond %{REQUEST_FILENAME} !-f
rewriteRule ^Helper/ helper.php [QSA,L]

#Pour rediriger vers l'application Sphinx
rewriteCond %{REQUEST_FILENAME} !-f
rewriteRule ^Sphinx/ sphinx.php [QSA,L]

#Pour rediriger administrateur vers le backend
rewriteCond %{REQUEST_FILENAME} !-f
rewriteRule ^PourAdminSeulement/ backend.php [QSA,L]

#Pour rediriger utilisateur vers le frontend par défaut
rewriteCond %{REQUEST_FILENAME} !-f
rewriteRule ^(.*)$ front.php [QSA,L]

## COMPRESSION ##
#AddType text/javascript .js
#<IfModule mod_deflate.c>
  ## Compress HTML, CSS, JavaScript, Text and fonts
#  AddOutputFilterByType DEFLATE application/javascript
#  AddOutputFilterByType DEFLATE application/vnd.ms-fontobject
#  AddOutputFilterByType DEFLATE application/x-font
#  AddOutputFilterByType DEFLATE application/x-font-opentype
#  AddOutputFilterByType DEFLATE application/x-font-otf
#  AddOutputFilterByType DEFLATE application/x-font-truetype
#  AddOutputFilterByType DEFLATE application/x-font-ttf
#  AddOutputFilterByType DEFLATE application/x-javascript
#  AddOutputFilterByType DEFLATE application/xhtml+xml
#  AddOutputFilterByType DEFLATE font/opentype
#  AddOutputFilterByType DEFLATE font/otf
#  AddOutputFilterByType DEFLATE font/ttf
#  AddOutputFilterByType DEFLATE image/svg+xml
#  AddOutputFilterByType DEFLATE image/x-icon
#  AddOutputFilterByType DEFLATE text/css
#  AddOutputFilterByType DEFLATE text/html
#  AddOutputFilterByType DEFLATE text/javascript
#  AddOutputFilterByType DEFLATE text/plain

  ## Remove browser bugs (only needed for really old browsers)
#  BrowserMatch ^Mozilla/4 gzip-only-text/html
#  BrowserMatch ^Mozilla/4\.0[678] no-gzip
#  BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
#  Header append Vary User-Agent
#</IfModule>
## COMPRESSION ##

## EXPIRES CACHING ##
#<IfModule mod_expires.c>
#ExpiresActive On
#ExpiresByType image/jpg "access plus 1 year"
#ExpiresByType image/jpeg "access plus 1 year"
#ExpiresByType image/gif "access plus 1 year"
#ExpiresByType image/png "access plus 1 year"
#ExpiresByType text/css "access plus 1 month"
#ExpiresByType text/javascript "access plus 1 month"
#ExpiresByType image/x-icon "access plus 1 year"
#ExpiresDefault "access plus 2 days"
#</IfModule>
## EXPIRES CACHING ##
