.aptitude/
.HttpRequest/
.cagefs/
.cl.selector/
.cpaddons/
.cpanel/
.cphorde/
.config/
.docker/
.htpasswds/
.razor/
.softaculous/
.spamassassin/
.sqmaildata/
.ssh/
.subaccounts/
.trash/
/Maildir/
/cache/
/etc/
/lib/
/logs/
/mail/
/public_ftp/
/ssl/
/ssl_mail/
/tmp/
.bash_history
.gitconfig
.bash_logout
.bash_profile
.bashrc
.contactemail
.dns
.gemrc
.lastlogin
.lesshst
.mysql_history
.profile
.rnd
.zshrc
.Xauthority
cpbackup-exclude.conf
*.DS_Store
/Library/PDOFactory.class.php
/ConfigSystem/fichierDeConfiguration.xml
/ConfigSystem/Facebook/
/ConfigSystem/Browscap/
/Files/Data/
/Files/Images/
/Files/Sources/
/SafeWorkSpace/Utilisateurs/
/public_html/Images/BackgroundUtilisateurs/
/public_html/.htaccess