/*
!.gitignore
!/Applications
!/Applications/*
!/ConfigSystem
/ConfigSystem/*
!/ConfigSystem/Template
!/ConfigSystem/Template/*
!/Library
!/Library/*
/Library/PDOFactory.class.php
/Library/ScriptsBash/Debian/docker-run-timeout
!/public_html
!/public_html/*
/public_html/.htaccess
/public_html/Images/BackgroundUtilisateurs/*
*.DS_Store
*.directory
*routeur.txt
