/***************************************/
/* Feuille de style pour le footer	   */
/***************************************/

footer{
	height: 400px;
	background-color: rgb(50, 50, 50);
	font-family: "OpenSansLight";
	font-size: 0.9em;
	color: white;
}


footer ul{
	display: inline-block;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

footer ul li:first-child{
	font-family: "OpenSans";
	font-size: 1.7em;
}

footer ul li a{
	color: white;
	font-size: 1.2em;
}

footer ul li{
	text-align: bottom;
}

footer ul li a:hover{
	color: white;
}

footer ul{
	margin: 10px 0px 20px 0px;
}

footer hr{
	height: none;
	border: none;
	border-top: 1px solid rgb(200, 200, 200);
}

/* SpriteSheet */
footer span{
	display: inline-block;
	width: 64px;
	height: 64px;
	background: url("/Images/spritesheet.png") no-repeat;
}

/* background-position: (colonne)px (ligne)px; */
/* Twitter */
.twitter{
	background-position: -130px -64px;
}
/* Facebook */
.facebook{
	background-position: -22px 0px;
}
/* Linkedin */
.linkedin{
	background-position: -32px -64px;
}