<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">x</button>
	<h2 class="modal-title">Change attributs of {{application.nom}}</h2>
</div>
<div class="modal-body">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="col-lg-10 centering">
				<form id="formDescriptionApp" ng-submit="validFormDescription()" class="well well-lg">
					<div class="form-group has-feedback" ng-class="{'has-error':formDescriptionApp.descriptionApp.$invalid && formDescriptionApp.descriptionApp.$dirty, 'has-success':formDescriptionApp.descriptionApp.$valid}">
						<span class="label label-primary">Its description</span>
						<textarea name="descriptionApp" ng-model="descriptionApp" ng-minlength="50" required class="form-control input-lg" placeholder="Enter a short description of your application (>50 chars).">{{application.description}}</textarea>
						<span ng-class="{'glyphicon form-control-feedback glyphicon-remove':formDescriptionApp.descriptionApp.$invalid && formDescriptionApp.descriptionApp.$dirty, 'glyphicon form-control-feedback glyphicon-ok':formDescriptionApp.descriptionApp.$valid}"></span>
						<span ng-show="formDescriptionApp.descriptionApp.$invalid && formDescriptionApp.descriptionApp.$dirty" class="help-block">This description is too short !</span>
					</div>
					<div class="form-group has-feedback">
						<span class="label label-primary">Its category</span>
						<select name="categorieApp" ng-options="category.nameCategory group by category.onCategory for category in tableOfCategories" ng-model="selectedCategory" class="form-control input-sm" required></select>
					</div>
					<div class="form-group">
						<span class="label label-primary">Its keywords (comma-separated keywords)</span>
						<input type="text" id="motsClesApp" name="motsClesApp" class="form-control input-lg"/>
					</div>
					<input type="hidden" name="idApp" value="{{application.id}}"/>
					<button class="btn btn-primary" data-loading-text="<span class='glyphicon glyphicon-refresh spinning'></span> Loading..." type="submit">Send</button>
				</form>
			</div>
		</div>
	</div>
	</div>