<div class="modal-header">
	<button type="button" class="close" ng-click="close()">x</button>
	<h2 class="modal-title">Edit the function</h2>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-lg-12">
			<br><div class="editor" ace-editor></div><br>
		</div>
		<div class="col-lg-12">
			<div class="options centering txt-center">
				<drop-zone class="option"></drop-zone>
				<div class="option textFormat">-- OR --</div>
				<form class="option">
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-addon">Select a programming language</div>
							<select name="languages" ng-model="language" ng-options="language for language in tableLanguages" class="form-control input-sm" required select-design-directive data-live-search="false"></select>
						</div>
					</div>
				</form>
				<button ng-click="validTextFunction()" class="option btn btn-primary">
					<div ng-hide="displayButtonForm">Save</div>
					<div ng-show="displayButtonForm"><span class="glyphicon glyphicon-refresh spinning" ></span> Loading...</div>
				</button>	
			</div>
		</div>
	</div><br>
	
	<div class="modal-footer">
		<form name="formDeleteTask" ng-submit="formValidDeleteFunction($event)">
			<input type="hidden" name="idApp" value="{{application.id}}"/>
			<input type="hidden" name="idVersion" value="{{idVersion}}"/>
			<input type="hidden" name="idFunction" value="{{idFunction}}"/>
			<button class="btn btn-danger" type="submit">
				<div ng-hide="displayButtonDelete">Delete this function</div>
				<div ng-show="displayButtonDelete"><span class="glyphicon glyphicon-refresh spinning" ></span> Deleting...</div>
			</button>
		</form>
	</div>
</div>