			<div class="modal-header">
				<button type="button" class="close" ng-click="close()">x</button>
				<h2 class="modal-title">Add a new publication</h2>
			</div>
			<div class="modal-body">
				<ul class="nav nav-pills">
					<li class="active"><a href="#automatic" data-toggle="tab"><span class="glyphicon glyphicon-list"></span> Automatic entry</a></li>
					<li><a href="#manuel" data-toggle="tab"><span class="glyphicon glyphicon-pencil"></span> Manuel entry</a></li>
				</ul><br>

				<div class="tab-content">
					<div class="tab-pane active" id="automatic">
						<form id="formDOI" ng-submit="validDOI()" name="formDOI" class="well well-lg col-lg-12 centering">
							<div class="form-group has-feedback" ng-class="{'has-error':formDOI.reqPublication.$invalid && formDOI.reqPublication.$dirty, 'has-success':formDOI.reqPublication.$valid}">
								<input type="text" ng-model="reqPublication" name="reqPublication" ng-pattern="/([0-9]{2}.[0-9]{4,5}/.+)/" required class="form-control input-lg" placeholder="Enter a valid DOI (eg: 10.1000/123456...)"/>
							
								<span ng-class="{'glyphicon form-control-feedback glyphicon-remove':formDOI.reqPublication.$invalid && formDOI.reqPublication.$dirty, 'glyphicon form-control-feedback glyphicon-ok':formDOI.reqPublication.$valid}"></span>
								<span ng-show="formDOI.reqPublication.$invalid && formDOI.reqPublication.$dirty" class="help-block">This DOI is not valid ! (eg: 10.1000/123456...)</span>
							</div>
							<button type="submit" class="btn btn-primary" ng-disabled="formDOI.$invalid">
								<div ng-hide="loading">Search</div>
								<div ng-show="loading"><span class="glyphicon glyphicon-refresh spinning" ></span> Loading...</div>
							</button>
						</form>
					</div>
					<div class="tab-pane" id="manuel">
						<form id="addPublicationForm" ng-submit="addPublication()" name="formAddPublication" class="well well-lg col-lg-12 centering">
							<div class="form-group has-feedback" ng-class="{'has-error':formAddPublication.selectedType.$invalid && formAddPublication.selectedType.$dirty, 'has-success':formAddPublication.selectedType.$valid}">
								<label for="typePublication">Select a type for your publication</label>
								<select name="selectedType" required ng-options="type.nameType for type in types" ng-model="selectedType" class="form-control"></select>
							</div>
							<div class="form-group has-feedback" ng-class="{'has-error':formAddPublication.titrePublication.$invalid && formAddPublication.titrePublication.$dirty, 'has-success':formAddPublication.titrePublication.$valid}">
								<input type="text" ng-model="titrePublication" name="titrePublication" ng-minlength="3" ng-maxlength="300" required class="form-control" placeholder="Title of the publication"/>
								<span ng-class="{'glyphicon form-control-feedback glyphicon-remove':formAddPublication.titrePublication.$invalid && formAddPublication.titrePublication.$dirty, 'glyphicon form-control-feedback glyphicon-ok':formAddPublication.titrePublication.$valid}"></span>
								<span ng-show="formAddPublication.titrePublication.$invalid && formAddPublication.titrePublication.$dirty" class="help-block">Enter a title between 3 and 300 letters</span>
							</div>
							<div class="form-group has-feedback" ng-class="{'has-error':formAddPublication.auteursPublication.$invalid && formAddPublication.auteursPublication.$dirty, 'has-success':formAddPublication.auteursPublication.$valid}">
								<input type="text" ng-model="auteursPublication" name="auteursPublication" ng-minlength="3" required class="form-control" placeholder="Name1 Surname1, Name2 Surname2, ..."/>
								<span ng-class="{'glyphicon form-control-feedback glyphicon-remove':formAddPublication.auteursPublication.$invalid && formAddPublication.auteursPublication.$dirty, 'glyphicon form-control-feedback glyphicon-ok':formAddPublication.auteursPublication.$valid}"></span>
								<span ng-show="formAddPublication.auteursPublication.$invalid && formAddPublication.auteursPublication.$dirty" class="help-block">Enter at least a name and surname of a author</span>
							</div>
							<div class="form-group has-feedback" ng-class="{'has-error':formAddPublication.anneePublication.$invalid && formAddPublication.anneePublication.$dirty, 'has-success':formAddPublication.anneePublication.$valid}">
								<input type="text" ng-model="anneePublication" name="anneePublication" required ng-pattern="/^[0-9]{4}$/" class="form-control" placeholder="Enter the year of publication"/>
								<span ng-class="{'glyphicon form-control-feedback glyphicon-remove':formAddPublication.anneePublication.$invalid && formAddPublication.anneePublication.$dirty, 'glyphicon form-control-feedback glyphicon-ok':formAddPublication.anneePublication.$valid}"></span>
								<span ng-show="formAddPublication.anneePublication.$invalid && formAddPublication.anneePublication.$dirty" class="help-block">Enter an year of publication (eg. 2016)</span>
							</div>
							<div class="form-group has-feedback" ng-class="{'has-error':formAddPublication.journalPublication.$invalid && formAddPublication.journalPublication.$dirty, 'has-success':formAddPublication.journalPublication.$valid}">
								<input type="text" ng-model="journalPublication" name="journalPublication" ng-minlength="3" ng-maxlength="200" required class="form-control" placeholder="Enter the name of the scientific journal"/>
								<span ng-class="{'glyphicon form-control-feedback glyphicon-remove':formAddPublication.journalPublication.$invalid && formAddPublication.journalPublication.$dirty, 'glyphicon form-control-feedback glyphicon-ok':formAddPublication.journalPublication.$valid}"></span>
								<span ng-show="formAddPublication.journalPublication.$invalid && formAddPublication.journalPublication.$dirty" class="help-block">Enter a name for the journal between 3 and 200 letters</span>
							</div>
							<div class="form-group has-feedback" ng-class="{'has-error':formAddPublication.urlPublication.$invalid && formAddPublication.urlPublication.$dirty, 'has-success':formAddPublication.urlPublication.$valid}">
								<input type="text" ng-pattern="/^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/?/" ng-model="urlPublication" name="urlPublication" required class="form-control" placeholder="Enter a hyperlink to access to the publication (ex: http(s)://...)."/>
								<span ng-class="{'glyphicon form-control-feedback glyphicon-remove':formAddPublication.urlPublication.$invalid && formAddPublication.urlPublication.$dirty, 'glyphicon form-control-feedback glyphicon-ok':formAddPublication.urlPublication.$valid}"></span>
								<span ng-show="formAddPublication.urlPublication.$invalid && formAddPublication.urlPublication.$dirty" class="help-block">Enter a valid url</span>
							</div>
							<input type="hidden" value="{{idApplication}}" name="idApplication"/>
							<button type="submit" class="btn btn-primary" ng-disabled="formAddPublication.$invalid">
								<div ng-hide="loadingAddPublication">Add a publication</div>
								<div ng-show="loadingAddPublication"><span class="glyphicon glyphicon-refresh spinning" ></span> Loading...</div>
							</button>
						</form>
					</div>
				</div>
		  	</div>