<div class="modal-header">
	<button type="button" class="close" ng-click="close()">x</button>
	<h2 class="modal-title">Add a new parameter</h2>
</div>
<div class="modal-body">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="col-lg-10 centering">
				<form name="formNewParameter" ng-submit="formValidNewParameter($event)">
					<div class="form-group has-feedback" ng-class="{'has-error':formNewParameter.nomParametre.$invalid && formNewParameter.nomParametre.$dirty, 'has-success':formNewParameter.nomParametre.$valid}">
						<div class="input-group">
							<div class="input-group-addon">Name</div>
							<input required type="text" class="form-control" ng-model="nomParametre" name="nomParametre" ng-maxlength="50" maxlength="50" ng-minlength="3" placeholder="Enter a name for the parameter (between 3 and 50 chars)" value=""/>
						</div>
						<span ng-class="{'glyphicon form-control-feedback glyphicon-remove':formNewParameter.nomParametre.$invalid && formNewParameter.nomParametre.$dirty, 'glyphicon form-control-feedback glyphicon-ok':formNewParameter.nomParametre.$valid}"></span>
						<span ng-show="formNewParameter.nomParametre.$invalid && formNewParameter.nomParametre.$dirty" class="help-block">Enter a name for the parameter (between 3 and 50 chars)</span>
					</div>
					<div class="form-group has-feedback" ng-class="{'has-error':formNewParameter.descriptionParametre.$invalid && formNewParameter.descriptionParametre.$dirty, 'has-success':formNewParameter.descriptionParametre.$valid}">
						<div class="input-group">
							<div class="input-group-addon">Description</div>
							<textarea required class="form-control" ng-model="descriptionParametre" ng-maxlength="200" maxlength="200" ng-minlength="10" name="descriptionParametre" placeholder="Enter a short description of the parameter (between 10 and 200 chars)."></textarea>
						</div>
						<span ng-class="{'glyphicon form-control-feedback glyphicon-remove':formNewParameter.descriptionParametre.$invalid && formNewParameter.descriptionParametre.$dirty, 'glyphicon form-control-feedback glyphicon-ok':formNewParameter.descriptionParametre.$valid}"></span>
						<span ng-show="formNewParameter.descriptionParametre.$invalid && formNewParameter.descriptionParametre.$dirty" class="help-block">Enter a short description of the parameter (between 10 and 200 chars).</span>
					</div>
					<div class="form-group has-feedback" ng-class="{'has-error':formNewParameter.valeurMinParametre.$invalid && formNewParameter.valeurMinParametre.$dirty, 'has-success':formNewParameter.valeurMinParametre.$valid}">
						<div class="input-group">
							<div class="input-group-addon">Minimum value</div>
							<input required type="text" class="form-control" ng-pattern="/^[0-9]+$/" ng-model="valeurMinParametre" name="valeurMinParametre" maxlength="10" placeholder="Enter a minimum value for the parameter" control-minimum-value-parameter/>
						</div>
						<span ng-class="{'glyphicon form-control-feedback glyphicon-remove':formNewParameter.valeurMinParametre.$invalid && formNewParameter.valeurMinParametre.$dirty, 'glyphicon form-control-feedback glyphicon-ok':formNewParameter.valeurMinParametre.$valid}"></span>
						<span ng-show="formNewParameter.valeurMinParametre.$invalid && formNewParameter.valeurMinParametre.$dirty" class="help-block">The minimum value must be an integer and inferior to the maximum value.</span>
					</div>
					<div class="form-group has-feedback" ng-class="{'has-error':formNewParameter.valeurMaxParametre.$invalid && formNewParameter.valeurMaxParametre.$dirty, 'has-success':formNewParameter.valeurMaxParametre.$valid}">
						<div class="input-group">
							<div class="input-group-addon">Maximum value</div>
							<input required type="text" class="form-control" ng-pattern="/^[0-9]+$/" ng-model="valeurMaxParametre" name="valeurMaxParametre" maxlength="10" placeholder="Enter a maximum value for the parameter" control-maximum-value-parameter/>
						</div>
						<span ng-class="{'glyphicon form-control-feedback glyphicon-remove':formNewParameter.valeurMaxParametre.$invalid && formNewParameter.valeurMaxParametre.$dirty, 'glyphicon form-control-feedback glyphicon-ok':formNewParameter.valeurMaxParametre.$valid}"></span>
						<span ng-show="formNewParameter.valeurMaxParametre.$invalid && formNewParameter.valeurMaxParametre.$dirty" class="help-block">The maximum value must be an integer and superior to the minimum value.</span>
					</div>
					<div class="form-group has-feedback" ng-class="{'has-error':formNewParameter.valeurPasParametre.$invalid && formNewParameter.valeurPasParametre.$dirty, 'has-success':formNewParameter.valeurPasParametre.$valid}">
						<div class="input-group">
							<div class="input-group-addon">Step value</div>
							<input required type="text" class="form-control" ng-pattern="/^[0-9]+$/" ng-model="valeurPasParametre" name="valeurPasParametre" maxlength="10" placeholder="Enter a step value for the parameter" control-step-value-parameter/>
						</div>
						<span ng-class="{'glyphicon form-control-feedback glyphicon-remove':formNewParameter.valeurPasParametre.$invalid && formNewParameter.valeurPasParametre.$dirty, 'glyphicon form-control-feedback glyphicon-ok':formNewParameter.valeurPasParametre.$valid}"></span>
						<span ng-show="formNewParameter.valeurPasParametre.$invalid && formNewParameter.valeurPasParametre.$dirty" class="help-block">The step value must be an integer, superior to 0 and inferior to the difference between the maximum and the minimum value.</span>
					</div>
					<div class="form-group has-feedback" ng-class="{'has-error':formNewParameter.valeurDefautParametre.$invalid && formNewParameter.valeurDefautParametre.$dirty, 'has-success':formNewParameter.valeurDefautParametre.$valid}">
						<div class="input-group">
							<div class="input-group-addon">Default value</div>
							<input required type="text" class="form-control" ng-model="valeurDefautParametre" ng-pattern="/^[0-9]+$/" name="valeurDefautParametre" maxlength="10" placeholder="Enter a default value for the parameter" control-default-value-parameter/>
						</div>
						<span ng-class="{'glyphicon form-control-feedback glyphicon-remove':formNewParameter.valeurDefautParametre.$invalid && formNewParameter.valeurDefautParametre.$dirty, 'glyphicon form-control-feedback glyphicon-ok':formNewParameter.valeurDefautParametre.$valid}"></span>
						<span ng-show="formNewParameter.valeurDefautParametre.$invalid && formNewParameter.valeurDefautParametre.$dirty" class="help-block">The default value must be an integer, inferior to the maximum value and superior to the minimum value.</span>
					</div>
					<div class="form-group has-feedback" ng-class="{'has-error':formNewParameter.typeAffichageParametre.$invalid && formNewParameter.typeAffichageParametre.$dirty, 'has-success':formNewParameter.typeAffichageParametre.$valid}">
						<div class="input-group">
							<div class="input-group-addon">Display</div>
							<select required name="typeAffichageParametre" ng-model="typeAffichageParametre" class="form-control input-sm" ng-options="type.name for type in typesParameter track by type.name">
								<option value="">- Please Choose -</option>
							</select>
						</div>
						<span ng-class="{'glyphicon form-control-feedback glyphicon-remove':formNewParameter.typeAffichageParametre.$invalid && formNewParameter.typeAffichageParametre.$dirty, 'glyphicon form-control-feedback glyphicon-ok':formNewParameter.typeAffichageParametre.$valid}"></span>
						<span ng-show="formNewParameter.typeAffichageParametre.$invalid && formNewParameter.typeAffichageParametre.$dirty" class="help-block">Enter a valid display for the parameter.</span>
					</div>
					<div class="form-group has-feedback" ng-class="{'has-error':formNewParameter.statutPublicParametre.$invalid && formNewParameter.statutPublicParametre.$dirty, 'has-success':formNewParameter.statutPublicParametre.$valid}">
						<div class="input-group">
							<div class="input-group-addon">Status</div>
							<select required ng-model="statutPublicParametre" name="statutPublicParametre" class="form-control input-sm">
								<option value="">- Please Choose -</option>
								<option value="1">Public</option>
								<option value="0">Private</option>
							</select>
						</div>
						<span ng-class="{'glyphicon form-control-feedback glyphicon-remove':formNewParameter.statutPublicParametre.$invalid && formNewParameter.statutPublicParametre.$dirty, 'glyphicon form-control-feedback glyphicon-ok':formNewParameter.statutPublicParametre.$valid}"></span>
						<span ng-show="formNewParameter.statutPublicParametre.$invalid && formNewParameter.statutPublicParametre.$dirty" class="help-block">Enter a valid status for the parameter.</span>
					</div>
					<input type="hidden" name="idApp" value="{{application.id}}"/>
					<input type="hidden" name="idVersion" value="{{idVersion}}"/>
					<input type="hidden" name="idFonction" value="{{idFonction}}"/>
					<button ng-disabled="formNewParameter.$invalid" class="btn btn-primary" type="submit">
						<div ng-hide="displayButtonForm">Add</div>
						<div ng-show="displayButtonForm"><span class="glyphicon glyphicon-refresh spinning" ></span> Loading...</div>
					</button>
				</form>
			</div>
		</div>
	</div>
</div>