<div class="modal-header">
	<button type="button" class="close" ng-click="close()">x</button>
	<h4 class="modal-title">Welcome to NooLib Web Application</h4>
</div>
<div class="modal-body">
	<div class="row">
		<img class="col-lg-3" src="/Images/Logos/logoNooLib.png"/>
		<p class="col-lg-8  text-justify">Because, everyday, numerous scientific algorithms are created by students, 
			engineers and researchers all over the world. Because, nowaday, it seems
			complicated to promote them and keep them updated for being finally abandoned. For these reasons, we have invented NooLib.</p>
		<p class="col-lg-8 col-lg-offset-3 text-justify">NooLib is a web application which enables 
			to host and promote your own algorithms for Research. 
			With NooLib, you can easily deposit your own programs and transform them into an useful application.
			Then you can share them with people and interact smartly with other applications present on NooLib.</p>
		<p class="col-lg-8 col-lg-offset-3 text-justify">With Noolib, we would like to create a better place for improving your researches efficiency and help you to promote your work.</p>
		<p class="col-lg-8 col-lg-offset-3 text-justify">We hope sincerely you will be satisfied by this novel concept and we remain 
			at your disposal for any suggestions which could improve your experience in NooLib.
		</p>
		<p class="col-lg-8 col-lg-offset-3 text-justify">The NooLib team,</p>
	</div>
	<div class="alert alert-info">We are looking for investments in order to carry on the development of the NooLib platform. If you are interested, please contact us !</div>
	<div class="alert alert-warning">NooLib respects your privacy. All your personnal informations and personnal data will not be used for marketing purposes, sold or shared with third parties.</div>
</div>