<div class="modal-header">
	<button type="button" class="close" ng-click='close()'>x</button>
	<h4 class="modal-title">Contact us for any questions !</h4>
</div>
<div class="modal-body">
	<div class="alert alert-warning">Be confident, your email address will not be used for marketing purposes, sold or shared with third parties.</div>
	<form class="well well-lg" name="contactForm" action="/LogIn/ContactUs/" method="post">
		<div class="form-group has-feedback" ng-class="{'has-error':contactForm.emailAddress.$invalid && contactForm.emailAddress.$dirty, 'has-success':contactForm.emailAddress.$valid}">
			<input type="text" required class="form-control" name="emailAddress" ng-model="emailAddress" placeholder="Your email..." ng-pattern="/^[a-zA-Z0-9._-]+@[a-z0-9._-]{2,}\.[a-z]{2,4}$/"/>
			<span ng-class="{'glyphicon form-control-feedback glyphicon-remove':contactForm.emailAddress.$invalid && contactForm.emailAddress.$dirty, 'glyphicon form-control-feedback glyphicon-ok':contactForm.emailAddress.$valid}"></span>
			<span ng-show="contactForm.emailAddress.$invalid && contactForm.emailAddress.$dirty" class="help-block">Enter a valid e-mail address.</span>
		</div>
		<div class="form-group has-feedback" ng-class="{'has-error':contactForm.headerMessageMail.$invalid && contactForm.headerMessageMail.$dirty, 'has-success':contactForm.headerMessageMail.$valid}">
			<input type="text" required class="form-control" name="headerMessageMail" ng-model="headerMessageMail" ng-minlength="2" placeholder="Your title..."/>
			<span ng-class="{'glyphicon form-control-feedback glyphicon-remove':contactForm.headerMessageMail.$invalid && contactForm.headerMessageMail.$dirty, 'glyphicon form-control-feedback glyphicon-ok':contactForm.headerMessageMail.$valid}"></span>
			<span ng-show="contactForm.headerMessageMail.$invalid && contactForm.headerMessageMail.$dirty" class="help-block">Enter a header of at least two letters.</span>
		</div>
		<div class="form-group has-feedback" ng-class="{'has-error':contactForm.bodyMessageMail.$invalid && contactForm.bodyMessageMail.$dirty, 'has-success':contactForm.bodyMessageMail.$valid}">
			<textarea required class="form-control" name="bodyMessageMail" ng-minlength="20" ng-model="bodyMessageMail" placeholder="Your message..."></textarea>
			<span ng-class="{'glyphicon form-control-feedback glyphicon-remove':contactForm.bodyMessageMail.$invalid && contactForm.bodyMessageMail.$dirty, 'glyphicon form-control-feedback glyphicon-ok':contactForm.bodyMessageMail.$valid}"></span>
			<span ng-show="contactForm.bodyMessageMail.$invalid && contactForm.bodyMessageMail.$dirty" class="help-block">Enter a message of at least twenty letters.</span>
		</div>
		<button class="btn btn-primary" ng-disabled="contactForm.$invalid" type="submit">Send</button>
	</form>
</div>