<div class="modal-header">
	<button type="button" class="close" ng-click="close()">x</button>
	<h4 class="modal-title">Registration form</h4>
</div>
<div class="modal-body">
	<form class="well well-lg" name="registrationForm" ng-submit="submitRegistrationForm()">
		<div class="form-group has-feedback" ng-class="{'has-error':registrationForm.prenom.$invalid && registrationForm.prenom.$dirty, 'has-success':registrationForm.prenom.$valid}">
			<input type="text" required class="form-control input-lg" name="prenom" ng-minlength="2" ng-model="prenom" placeholder="Your first name"/>
			<span ng-class="{'glyphicon form-control-feedback glyphicon-remove':registrationForm.prenom.$invalid && registrationForm.prenom.$dirty, 'glyphicon form-control-feedback glyphicon-ok':registrationForm.prenom.$valid}"></span>
			<span ng-show="registrationForm.prenom.$invalid && registrationForm.prenom.$dirty" class="help-block">Enter a first name of at least two letters.</span>
		</div>
		<div class="form-group has-feedback" ng-class="{'has-error':registrationForm.nom.$invalid && registrationForm.nom.$dirty, 'has-success':registrationForm.nom.$valid}">
			<input type="text" required class="form-control input-lg" name="nom" ng-minlength="2" ng-model="nom" placeholder="Your last name"/>
			<span ng-class="{'glyphicon form-control-feedback glyphicon-remove':registrationForm.nom.$invalid && registrationForm.nom.$dirty, 'glyphicon form-control-feedback glyphicon-ok':registrationForm.nom.$valid}"></span>
			<span ng-show="registrationForm.nom.$invalid && registrationForm.nom.$dirty" class="help-block">Enter a last name of at least two letters.</span>
		</div>
		<div class="form-group has-feedback" ng-class="{'has-error':registrationForm.adresseMail.$invalid && registrationForm.adresseMail.$dirty, 'has-success':registrationForm.adresseMail.$valid}">
			<input type="email" required class="form-control input-lg" name="adresseMail" ng-pattern="/^[a-zA-Z0-9._-]+@[a-z0-9._-]{2,}\.[a-z]{2,4}$/" ng-model="adresseMail" placeholder= "Your email"/>
			<span ng-class="{'glyphicon form-control-feedback glyphicon-remove':registrationForm.adresseMail.$invalid && registrationForm.adresseMail.$dirty, 'glyphicon form-control-feedback glyphicon-ok':registrationForm.adresseMail.$valid}"></span>
			<span ng-show="registrationForm.adresseMail.$invalid && registrationForm.adresseMail.$dirty" class="help-block">Enter a valid e-mail address.</span>
		</div>
		<div class="form-group">
			<select name="statutUtilisateur" required ng-init="statutUtilisateur = statuts[0]" ng-options="statut.nameType for statut in statuts"class="form-control" ng-model="statutUtilisateur" select-design-directive></select>
		</div>
		<div class="form-group has-feedback" ng-class="{'has-error':registrationForm.motDePasseFormulaire.$invalid && registrationForm.motDePasseFormulaire.$dirty, 'has-success':registrationForm.motDePasseFormulaire.$valid}">
			<input type="password" required class="form-control input-lg" name="motDePasseFormulaire" ng-model="motDePasseFormulaire" ng-pattern="/(?=(.*[A-Z]){1,})(?=(.*[a-z]){1,})(?=(.*[0-9]){1,})/" placeholder="Your password"/>
			<span ng-class="{'glyphicon form-control-feedback glyphicon-remove':registrationForm.motDePasseFormulaire.$invalid && registrationForm.motDePasseFormulaire.$dirty, 'glyphicon form-control-feedback glyphicon-ok':registrationForm.motDePasseFormulaire.$valid}"></span>
			<span ng-show="registrationForm.motDePasseFormulaire.$invalid && registrationForm.motDePasseFormulaire.$dirty" class="help-block">Enter a password of at least eight letters in length with at least one number, uppercase and lowercase.</span>
		</div>
		<div class="form-group has-feedback" ng-class="{'has-error':registrationForm.motDePasseConfirme.$invalid && registrationForm.motDePasseConfirme.$dirty, 'has-success':registrationForm.motDePasseConfirme.$valid}">
			<input type="password" required class="form-control input-lg" name="motDePasseConfirme" ng-model="motDePasseConfirme" password-validator-directive placeholder="Please, confirm your password"/>
			<span ng-class="{'glyphicon form-control-feedback glyphicon-remove':registrationForm.motDePasseConfirme.$invalid && registrationForm.motDePasseConfirme.$dirty, 'glyphicon form-control-feedback glyphicon-ok':registrationForm.motDePasseConfirme.$valid}"></span>
			<span ng-show="registrationForm.motDePasseConfirme.$invalid && registrationForm.motDePasseConfirme.$dirty" class="help-block">Your second password does not match with the first.</span>
		</div>
		<button class="btn btn-primary" data-loading-text="<span class='glyphicon glyphicon-refresh spinning'></span> Loading..." ng-disabled="registrationForm.$invalid" type="submit">
			<div ng-hide="loadingSignUp">Sign up !</div>
			<div ng-show="loadingSignUp"><span class="glyphicon glyphicon-refresh spinning" ></span> Loading...</div>
	 	</button>
	</form>
</div>